html {
  font-size: 16px; }

@media (max-width: 575px) {
  html {
    font-size: calc(7px + 1vw); } }
body {
  height: 100vh;
  position: relative;
  overflow-y: hidden; }
  body .hidden {
    display: none; }
  body .scrollable {
    overflow-y: scroll; }
  body .pos-sticky {
    position: sticky;
    top: 0; }
  body .pos-fixed {
    position: fixed; }
  body .pos-fixed-top-left {
    position: fixed;
    top: 0;
    left: 0; }
  body .pos-fixed-bottom-left {
    position: fixed;
    bottom: 0; }
  body .display-flex {
    display: flex; }
  body .fit-viewport {
    height: 100vh;
    width: 100vw; }
  body .menu-icon-row {
    display: flex;
    max-width: 100vw;
    padding: 15px 15px 20px 15px; }
    body .menu-icon-row .toc-menu {
      border-radius: 4px;
      padding: 5px 10px;
      border: 2px solid black; }
      body .menu-icon-row .toc-menu i.fa.fa-bars {
        display: inline-block; }
      body .menu-icon-row .toc-menu .toc-menu-label {
        margin-left: 5px; }
  @media (min-width: 768px) {
    body .menu-icon-row {
      display: none; } }
  body .main-row {
    display: flex; }
    body .main-row .left-nav-col {
      z-index: 2000; }
      body .main-row .left-nav-col .toc-header {
        max-width: 100%;
        border-bottom: 1px solid black; }
        body .main-row .left-nav-col .toc-header .toc-header-text {
          flex: 0 0 90%;
          max-width: 90%;
          padding: 20px; }
        body .main-row .left-nav-col .toc-header .toc-header-cancel {
          flex: 0 0 10%;
          max-width: 10%;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          border-left: 1px solid black; }
      body .main-row .left-nav-col .toc-filter-row .toc-filter {
        padding: 20px;
        border-bottom: 1px solid black; }
      body .main-row .left-nav-col .toc-filler-row .toc-filter {
        padding: 20px;
        border-bottom: 1px solid black; }
      body .main-row .left-nav-col .left-nav .name-container {
        display: flex;
        align-items: center; }
        body .main-row .left-nav-col .left-nav .name-container .svg-container {
          width: 20px; }
          body .main-row .left-nav-col .left-nav .name-container .svg-container svg {
            width: 100%; }
          body .main-row .left-nav-col .left-nav .name-container .svg-container svg path:nth-of-type(1) {
            fill: transparent; }
          body .main-row .left-nav-col .left-nav .name-container .svg-container svg path:nth-of-type(2) {
            fill: black; }
          body .main-row .left-nav-col .left-nav .name-container .svg-container svg.rotated {
            transform: rotate(90deg); }
      body .main-row .left-nav-col .left-nav .menu-item-group {
        margin-left: 16px; }
      body .main-row .left-nav-col .left-nav .menu-item-group:not(.expanded) * {
        display: none; }
      body .main-row .left-nav-col .dl-pdf-row {
        position: fixed;
        bottom: 0; }
        body .main-row .left-nav-col .dl-pdf-row .dl-pdf-icon .fa.fa-file-pdf {
          display: inline-block; }
        body .main-row .left-nav-col .dl-pdf-row .dl-pdf-txt {
          margin-left: 3px; }
    @media (min-width: 576px) {
      body .main-row .left-nav-col {
        width: 400px;
        height: 100vh; } }
    @media (min-width: 768px) {
      body .main-row .left-nav-col {
        flex-basis: 35%;
        max-width: 35%; }
        body .main-row .left-nav-col .toc-header, body .main-row .left-nav-col .toc-header *, body .main-row .left-nav-col .toc-filter-row, body .main-row .left-nav-col .toc-filter-row *, body .main-row .left-nav-col .dl-pdf-row, body .main-row .left-nav-col .dl-pdf-row * {
          display: none; } }
    @media (min-width: 992px) {
      body .main-row .left-nav-col {
        flex: 0 0 25%;
        max-width: 25%; } }
    body .main-row .toggled-overlay {
      background-color: black;
      opacity: 0.5;
      z-index: 1999; }
    body .main-row .content {
      display: flex; }
    @media (min-width: 576px) {
      body .main-row .content {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100vh; } }
    @media (min-width: 768px) {
      body .main-row .content {
        flex: 0 0 65%;
        max-width: 65%; } }
    @media (min-width: 992px) {
      body .main-row .content {
        flex: 0 0 75%;
        max-width: 75%; }
        body .main-row .content .main-content {
          flex: 0 0 70%;
          max-width: 70%; }
        body .main-row .content .right-nav-col {
          flex: 0 0 30%;
          max-width: 30%; } }
    body .main-row .right-nav-col {
      position: sticky;
      top: 0;
      z-index: 1020;
      height: 100vh; }
      body .main-row .right-nav-col nav#navbar-example3.navbar nav.nav.nav-pills {
        margin-left: 16px; }

/*# sourceMappingURL=main.css.map */
