html {
  font-size: 16px;
  font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif; }

@media (max-width: 575px) {
  html {
    font-size: calc(7px + 1vw); } }
body {
  position: relative; }
  body .header {
    width: 100%;
    background-color: #f7fafc;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    border-bottom: 0.1px solid #dddddd; }
    body .header .header-top {
      display: flex;
      width: 100%;
      margin-bottom: 20px; }
      body .header .header-top .logo-search-col {
        flex-basis: 50%;
        display: flex;
        align-items: center; }
        body .header .header-top .logo-search-col .logo-holder svg:nth-of-type(2) {
          box-sizing: content-box;
          padding: 3.3px 0px 3.3px 2px; }
        body .header .header-top .logo-search-col input.search-field {
          font-family: inherit;
          margin-left: 15px;
          padding: 8px 12px;
          flex-grow: 1;
          max-width: 500px;
          opacity: 0.8;
          border-radius: 5px;
          border: 1px solid rgba(84, 105, 212, 0.5);
          font-weight: 490;
          line-height: 20px;
          font-size: 15px; }
      body .header .header-top .account-col {
        flex-basis: 50%;
        display: flex;
        font-weight: 500;
        line-height: 20px;
        font-size: 15px; }
        body .header .header-top .account-col .account-col-content {
          margin-left: auto;
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 20px;
          font-size: 15px; }
          body .header .header-top .account-col .account-col-content a.create-account {
            color: #5469d4;
            margin-right: 30px; }
          body .header .header-top .account-col .account-col-content a.create-account:hover {
            color: inherit; }
          body .header .header-top .account-col .account-col-content form button {
            color: inherit;
            padding-right: 8px;
            padding-left: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            background-color: white;
            border: 0.2px solid #dddddd; }
    body .header .header-bottom {
      width: 100%;
      display: flex; }
      body .header .header-bottom .content-tabs {
        display: flex;
        flex-grow: 1; }
        body .header .header-bottom .content-tabs .tab {
          color: #3c4257;
          padding: 10px 0px 10px;
          border: 2px solid transparent;
          background: transparent;
          margin-right: 20px;
          font-weight: 500;
          line-height: 20px;
          font-size: 15px; }
        body .header .header-bottom .content-tabs .tab:nth-of-type(4) {
          color: #5469d4;
          border-bottom: 2px solid #5469d4; }
      body .header .header-bottom .apis-support {
        display: flex;
        margin-left: auto;
        font-weight: 500;
        line-height: 20px;
        font-size: 15px;
        padding-top: 13px; }
        body .header .header-bottom .apis-support .apids-dropdown {
          margin-right: 30px; }
          body .header .header-bottom .apis-support .apids-dropdown form label {
            margin-right: 7px; }
  body .menu-icon-row {
    display: flex;
    max-width: 100vw;
    padding: 22px 25px 22px 25px;
    background-color: #F7FAFC;
    color: #3C4257;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px; }
    body .menu-icon-row .toc-menu {
      border-radius: 4px; }
      body .menu-icon-row .toc-menu i.fa.fa-bars {
        display: inline-block; }
      body .menu-icon-row .toc-menu .toc-menu-label {
        margin-left: 10px; }
  @media (min-width: 768px) {
    body .menu-icon-row {
      display: none; } }
  body .main-row {
    display: flex; }
    body .main-row .left-nav-col {
      z-index: 2000;
      border-right: 0.1px solid #dddddd;
      line-height: 20px;
      font-size: 15px;
      font-weight: 500;
      background-color: white; }
      body .main-row .left-nav-col .toc-header {
        max-width: 100%;
        display: flex;
        padding: 22px 25px 22px 25px;
        background-color: #F7FAFC;
        color: #3C4257;
        font-weight: 500;
        line-height: 20px;
        font-size: 15px; }
        body .main-row .left-nav-col .toc-header .toc-header-cancel {
          margin-left: auto;
          width: 10%;
          text-align: center; }
      body .main-row .left-nav-col .toc-filter-row {
        display: flex;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 20px; }
        body .main-row .left-nav-col .toc-filter-row input.search-field {
          font-family: inherit;
          flex-grow: 1;
          opacity: 0.8;
          border-radius: 5px;
          border: 1px solid rgba(84, 105, 212, 0.5);
          font-weight: 490;
          line-height: 20px;
          font-size: 15px;
          padding: 10px; }
      body .main-row .left-nav-col .left-nav {
        padding-left: 14px;
        padding-right: 25px;
        padding-top: 20px; }
        body .main-row .left-nav-col .left-nav > div {
          padding: 4px; }
        body .main-row .left-nav-col .left-nav .name-container {
          display: flex;
          align-items: center; }
          body .main-row .left-nav-col .left-nav .name-container .svg-container {
            width: 20px; }
            body .main-row .left-nav-col .left-nav .name-container .svg-container svg {
              width: 100%; }
            body .main-row .left-nav-col .left-nav .name-container .svg-container svg path:nth-of-type(1) {
              fill: transparent; }
            body .main-row .left-nav-col .left-nav .name-container .svg-container svg path:nth-of-type(2) {
              fill: black; }
            body .main-row .left-nav-col .left-nav .name-container .svg-container svg.rotated {
              transform: rotate(90deg); }
        body .main-row .left-nav-col .left-nav .menu-item-group {
          margin-left: 16px; }
          body .main-row .left-nav-col .left-nav .menu-item-group > div {
            padding: 4px;
            font-weight: 400; }
        body .main-row .left-nav-col .left-nav .menu-item-group:not(.expanded) * {
          display: none; }
      body .main-row .left-nav-col .dl-pdf-row {
        position: fixed;
        bottom: 0;
        padding: 25px; }
        body .main-row .left-nav-col .dl-pdf-row .dl-pdf-icon .fa.fa-file-pdf {
          display: inline-block; }
        body .main-row .left-nav-col .dl-pdf-row .dl-pdf-txt {
          margin-left: 10px; }
    @media (min-width: 576px) {
      body .main-row .left-nav-col {
        width: 400px;
        height: 100vh; } }
    @media (min-width: 768px) {
      body .main-row .left-nav-col {
        flex-basis: 25%;
        max-width: 25%; }
        body .main-row .left-nav-col .toc-header, body .main-row .left-nav-col .toc-header *, body .main-row .left-nav-col .toc-filter-row, body .main-row .left-nav-col .toc-filter-row *, body .main-row .left-nav-col .dl-pdf-row, body .main-row .left-nav-col .dl-pdf-row * {
          display: none; } }
    @media (min-width: 992px) {
      body .main-row .left-nav-col {
        flex: 0 0 20%;
        max-width: 20%; } }
    body .main-row .toggled-overlay {
      background-color: black;
      opacity: 0.5;
      z-index: 1999; }
    body .main-row .content {
      display: flex;
      padding-top: 20px;
      overflow-y: scroll;
      position: relative;
      padding-left: 48px;
      padding-right: 48px; }
    @media (min-width: 576px) {
      body .main-row .content {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100vh; } }
    @media (max-width: 767px) {
      body .main-row .content {
        padding-left: 25px;
        padding-right: 25px; } }
    @media (min-width: 768px) {
      body .main-row .content {
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 48px;
        padding-right: 48px; } }
    @media (min-width: 992px) {
      body .main-row .content {
        flex: 0 0 80%;
        max-width: 80%; }
        body .main-row .content .main-content {
          flex: 0 0 75%;
          max-width: 75%; }
        body .main-row .content .right-nav-col {
          flex: 0 0 25%;
          max-width: 25%;
          padding-left: 48px; } }
    body .main-row .right-nav-col {
      flex-direction: column;
      position: sticky;
      top: 0;
      z-index: 1020;
      height: 100vh;
      font-weight: 500;
      line-height: 20px;
      font-size: 15px; }
      body .main-row .right-nav-col .pre-right-nav {
        color: #3C4257;
        text-transform: uppercase;
        padding-bottom: 16px;
        white-space: normal;
        line-height: 20px;
        font-weight: 500; }
      body .main-row .right-nav-col .right-nav {
        display: flex;
        flex-direction: column; }
        body .main-row .right-nav-col .right-nav .list-group-item {
          border: none !important; }
        body .main-row .right-nav-col .right-nav .list-group-item.active {
          color: #5469d4 !important;
          background-color: transparent !important;
          border-color: transparent !important; }
        body .main-row .right-nav-col .right-nav .list-group-item-action:focus, body .main-row .right-nav-col .right-nav .list-group-item-action:hover {
          color: #697386;
          background-color: transparent !important; }
        body .main-row .right-nav-col .right-nav a.right-nav-link {
          color: #697386;
          padding: 4px; }

/*# sourceMappingURL=main.css.map */
