/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
button,
a
{
  font: inherit;
}

/* input,
button,
textarea,
a,
select 
{
  font: inherit;
} */


a {
    color: #5469d4;
    text-decoration: none;.te
}


/* Set core body defaults */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

