/* Global */
.primary-color {
    color: #3C4257;
}
.unselected-links {
    color: #697386;
    font-weight: 400;
}

.border-properties {
    border: 0.1px solid #dddddd;
}
.default-font-properties {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space:normal;
}

/* .txt-line-height--20px {
    line-height: 20px;
} */


/* Tabs */
.tab-border-bottom-blue {
    border-bottom: 2px solid #5469d4;
}



h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
}
h2 {
    color: #1A1F36;
    padding-top: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
}


p {
    line-height: 26px;
    font-size: 16px;
    color: #3C4257;
    padding-top: 12px 0px 0px;
}
