.hidden {
    display: none;
}
.scrollable {
    overflow-y: scroll;
}
.pos-sticky {
    position: sticky;
    top: 0;
}
.pos-static {
    position: static;
}
.pos-fixed {
    position: fixed;
}
.pos-fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
.pos-fixed-bottom-left {
    position: fixed;
    bottom: 0;
}
.display-flex {
    display: flex;
}
.fit-viewport {
    height: 100vh;
    width: 100vw;
}